* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin: 20px;
  height: 120px;
  font-size: 22px;
  resize: none;
}

ul {
  list-style: none;
}

.key {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  transition: all 0.1s ease;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  text-align: left;
  display: flex;
  gap: 5px;
  padding: 8px 8px 0;
}

.key__shifted {
  opacity: 0.5;
}

.key:hover {
  background-color: rgb(122, 206, 223);
}

.key_active {
  background-color: rgb(122, 206, 223);
}

.keyboard {
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(216, 216, 216);
  width: 990px;
  gap: 6px;
  padding: 10px;
}
